.game {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;

  &-world-map {
    flex-grow: 1;

    overflow: hidden;

    height: 80vh;
    &-field {

    }
  }
  &-control-pane {
    background: gray;
    height: 20vh;
  }
}